div#links a span {
	display: none;
}

.state_table {
	border-collapse: collapse;
}

.row_env {
	background-color: rgb(180, 180, 180);
}

.top_left {
	/* background: url("../images/left.png") no-repeat scroll left -1px; */
	padding: 2px 7px;;
}

.top_right {
	/* background: url("../images/right.png") no-repeat scroll right -1px; */
	
}

.bottom_left {
	/* background: url("../images/botleft.png") no-repeat scroll left bottom; */
	
}

.bottom_right {
	/* background: url("../images/botright.png") no-repeat scroll right bottom; */
	
}

.foot {
	background-color: rgb(180, 180, 180);
	border-top: 1px solid #FFFFFF;
}

.row_prj_name {
	text-align: left;
	padding-left: 5px;
}

.env_prj_name {
	display: none;
}

#cg_prj {
	width: 170px;
}

.cg_env {
	width: 170px;
	border-left: 1px Solid #FFFFFF;
}

.row_prj {
	border-top: 1px solid #FFFFFF;
	height: 16px;
	vertical-align: top;
}

.row_prj_even {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
}

.row_prj_odd {
	background: none repeat scroll 0 0 rgb(240, 240, 240);
}

.pre_wrap {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

body,th,td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

td {
	vertical-align: top;
}

image {
	border-style: none;
}

a:link {
	color: Black;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:active {
	color: Black;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
	color: Black;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.state_PENDING {
	background: url("../images/pending.gif") no-repeat scroll left;
}

span.state_STABLE {
	background: url("../images/stable.png") no-repeat scroll left;
}

span.state_ERROR {
	background: url("../images/unavailable.png") no-repeat scroll left;
}

span.state_UNSTABLE {
	background: url("../images/unstable.gif") no-repeat scroll left;
}

span.state_DISABLED {
	background: url("../images/disabled.png") no-repeat scroll left;
}

span.rating_100 {
	background: url("../images/weather/sunny.gif") no-repeat scroll left;
}

span.rating_75 {
	background: url("../images/weather/party_cloudy.gif") no-repeat scroll
		left;
}

span.rating_50 {
	background: url("../images/weather/cloudy.gif") no-repeat scroll left;
}

span.rating_25 {
	background: url("../images/weather/cloudy.gif") no-repeat scroll left;
}

span.rating_0 {
	background: url("../images/weather/rain.gif") no-repeat scroll left;
}

font.state_TOTAL {
	font-weight: bold;
	color: black;
}

font.state_PENDING {
	font-weight: bold;
	color: rgb(169, 169, 169);
}

font.state_DISABLED {
	font-weight: bold;
	color: rgb(0, 0, 0);
}

font.state_STABLE {
	font-weight: bold;
	color: rgb(50, 205, 50);
}

font.state_ERROR {
	font-weight: bold;
	color: red;
}

font.state_UNSTABLE {
	font-weight: bold;
	color: rgb(255, 140, 0);
}

td.state_PENDING {
	
}

td.state_STABLE {
	
}

td.state_DISABLED {
	
}

img {
	border: 0px;
}

td.state_ERROR {
	background-color: rgb(245, 200, 200);
}

td.state_UNSTABLE {
	background-color: rgb(255, 200, 100);
}

td.state_NOCONFIG {
	
}

/*******************************************
 * Instances Table                         *
 *******************************************/
#instances-table {
	margin-bottom: 20px;
	width: 900px;
}

#instances-table	td a {
	color: #393939;
}

#instances-table	td a:hover {
	text-decoration: underline;
}

#instances-table	th {
	height: 50px;
	text-align: left;
}

#instances-table td {
	border: 1px solid #d2d2d2;
	padding: 4px 2px 4px 8px;
	font-size: 10px;
	line-height: 12px;
}

#instances-table tr.alternate-row {
	background: #ececec;
}

#instances-table td.state_PENDING {
	background-color: rgb(176, 192, 222);
}

#instances-table td.state {
	width: 12px;
	padding: 0px 0px 0px 0px;
}

#instances-table td.state_STABLE {
	background-color: rgb(60, 179, 113);
}

#instances-table td.state_DISABLED {
	background-color: rgb(211, 211, 211);
}

#instances-table td.state_ERROR {
	background-color: rgb(205, 92, 92);
}

#instances-table td.state_UNSTABLE {
	background-color: rgb(255, 200, 100);
}

/*******************************************
 * Instances Table                         *
 *******************************************/
#instances-configuration-table {
	margin-bottom: 20px;
	width: 900px;
}

#instances-configuration-table	td a {
	color: #393939;
}

#instances-configuration-table	td a:hover {
	text-decoration: underline;
}

#instances-configuration-table	th {
	height: 50px;
	text-align: left;
}

#instances-configuration-table td {
	border: 1px solid #d2d2d2;
	padding: 4px 2px 4px 8px;
	font-size: 10px;
	line-height: 12px;
}

#instances-configuration-table tr.alternate-row {
	background: #ececec;
}

#instances-configuration-table td.state_PENDING {
	background-color: rgb(176, 192, 222);
}

#instances-configuration-table td.state {
	width: 12px;
	padding: 0px 0px 0px 0px;
}

#instances-configuration-table td.state_STABLE {
	background-color: rgb(60, 179, 113);
}

#instances-configuration-table td.state_DISABLED {
	background-color: rgb(211, 211, 211);
}

#instances-configuration-table td.state_ERROR {
	background-color: rgb(205, 92, 92);
}

#instances-configuration-table td.state_UNSTABLE {
	background-color: rgb(255, 200, 100);
}

/*******************************************
 * Text Table               *
 *******************************************/
#text-table {
	margin-bottom: 20px;
	width: 900px;
}

#text-table	td a {
	color: #393939;
}

#text-table	td a:hover {
	text-decoration: underline;
}

#text-table	th {
	height: 50px;
	text-align: left;
}

#text-table	.minwidth-1 {
	min-width: 110px;
}

#text-table	.minwidth-2 {
	min-width: 180px;
}

#text-table td {
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
}

#text-table tr.alternate-row {
	background: #ececec;
}

/*******************************************
 * States Table                         *
 *******************************************/
#states-table {
	margin-bottom: 20px;
	width: 900px;
}

#states-table	td a {
	color: #393939;
}

#states-table	td a:hover {
	text-decoration: underline;
}

#states-table	th {
	height: 50px;
	text-align: left;
}

#states-table td {
	border: 1px solid #d2d2d2;
	padding: 4px 2px 4px 8px;
	font-size: 10px;
	line-height: 12px;
}

#states-table tr.alternate-row {
	background: #ececec;
}

#states-table td.state_PENDING {
	background-color: rgb(176, 192, 222);
}

#states-table td.state {
	width: 12px;
	padding: 0px 0px 0px 0px;
}

#states-table td.state_STABLE {
	background-color: rgb(60, 179, 113);
}

#states-table td.state_DISABLED {
	background-color: rgb(211, 211, 211);
}

#states-table td.state_ERROR {
	background-color: rgb(205, 92, 92);
}

#states-table td.state_UNSTABLE {
	background-color: rgb(255, 200, 100);
}


/*******************************************
 * InstanceLinks Table                     *
 *******************************************/
#instancelink-table {
	margin-bottom: 20px;
	width: 900px;
}

#instancelink-table	td a {
	color: #393939;
}

#instancelink-table	td a:hover {
	text-decoration: underline;
}

#instancelink-table	th {
	height: 50px;
	text-align: left;
}

#instancelink-table	.minwidth-1 {
	min-width: 110px;
}

#instancelink-table	.minwidth-2 {
	min-width: 180px;
}

#instancelink-table td {
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
}

#instancelink-table tr.alternate-row {
	background: #ececec;
}
 