sysstate-common/.settings/org.eclipse.jdt.core.prefs
sysstate-server/.settings/org.eclipse.jdt.core.prefs
sysstate-common/.project
sysstate-server/.project
sysstate-server/.classpath
sysstate-common/.classpath
