body {
	background-color: black;	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.print_ERROR {
	background-color: #FF0000;
	
}

.print_UNSTABLE {
	background-color: #FFFF00;
	
}
.print_STABLE {
	background-color: #00FF00;
}

.card{
	position:absolute;
	background-color: black;
}
	

.print {
	border-radius: 10px;
	height: 95%;
	width: 95%;
	margin: 10px auto;
	
}
.prjEnvName {
	font-size: 22px;
	font-weight: bold;
}




.state {
	padding:10px;
	
}

.state pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
	margin: 0px;
}