body {
	background-color: Black;
	margin: 0px;
	padding: 0px;
}

.col_env {
	width: 80px;
}
table.state_table{
	border-collapse: collapse;
	margin:0px;
	padding:0px;
	border-style: hidden;
}
#maintenance-mode {
	color: red;
}


span.env_prj_name {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

span.row_prj_env_int_state {
	display: none;
}
th.col_env {
	border: 2px Solid Black;
}

tr.row_env {
	background-color: rgb(220, 220, 220);
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width:80px;
	height: 16px;
	font-weight: bold;
}

td.row_prj_env {
	height: 35px;
	width:80px;
	text-align: center;
	border: 2px Solid Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	
}
div.row_prj_env{
	height:100%;
	width:100%;
	overflow: hidden;
}

td.state_PENDING {
	background-color: rgb(220, 220, 220);
}

td.state_STABLE {
	background-color: rgb(34, 139, 34);
}

td.state_ERROR {
	background-color: rgb(255, 0, 0);
}

td.state_UNSTABLE {
	background-color: rgb(255, 255, 0);
}
td.state_DISABLED {
	background-color: rgb(100, 100, 100);
}

td.state_NOCONFIG {
	background-color: rgb(220, 220, 220);
}

a:link {
	color: Black;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:active {
	color: Black;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
	color: Black;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.foot {
	visibility: collapse;
}